Oppimistehtava_01_XML_ja_XML_Schema/katsojat.xsd.txt

<?xml version='1.0' encoding='UTF-8'?> <xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>  	<xs:element name='toplista'> 		<xs:complexType> 			<xs:sequence> 			 				<xs:element name='tiedot'> 					<xs:complexType> 						<xs:sequence> 							<xs:element name='vuosi' type='xs:integer' /> 							<xs:element name='viikko' type='xs:integer' /> 							<xs:element name='lahde' type='xs:string' /> 							<xs:element name='saate' type='xs:token' /> 						</xs:sequence> 					</xs:complexType> 				</xs:element> 			 				<xs:element name='ohjelmat'> 					<xs:complexType> 						<xs:sequence> 							 							<xs:element name='ohjelma' maxOccurs='unbounded'> 								<xs:complexType> 									<xs:sequence> 										<xs:element name='nimi' type='xs:string' minOccurs='1' /> 										<xs:element name='katsojamaara' type='xs:integer' minOccurs='1' /> 									</xs:sequence> 									<xs:attribute name='jnro' type='xs:integer' use='required' /> 									<xs:attribute name='kanava' type='xs:string' use='required' /> 								</xs:complexType> 							</xs:element> 							 						</xs:sequence> 					</xs:complexType> 				</xs:element> 			 			</xs:sequence> 			<xs:attribute name='tyyppi' type='xs:string' use='required' /> 		</xs:complexType> 	</xs:element>  </xs:schema> 